/* Nel tuo file CSS */
.bounceable {
    cursor: pointer;
    transition: transform 0.2s;
}

.bounceable:hover {
    transform: scale(1.1);
}

.bounceable.bouncing {
    animation: bounce 0.5s ease infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

header {
    background-color: rgb(13, 29, 70);
    display: flex;
    flex-direction: column;
    /* Per allineare i figli verticalmente */
    align-items: center;
    /* Per centrarli orizzontalmente */
    justify-content: center;
    /* Opzionale, per centrarli verticalmente se necessario */
}

.main_title {
    display: flex;
    flex-direction: column;
    /* allinea i figli (il logo e l'h1) verticalmente */
    align-items: center;
    /* centra i figli orizzontalmente */
}


header h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #FFD0E8;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo,
header h1 {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* Navigation Style */
nav {
    display: flex;
    justify-content: center;
    /* Centra gli elementi orizzontalmente */
    width: 100%;
    color: #FFD0E8;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav a {
    color: #FFD0E8;
    padding-bottom: 5px;
    text-decoration: none;
    padding: 0 15px;
    /* Aggiunto un po' di padding per separare gli elementi del menu */
}

nav a:hover {
    /*  color: rgb(242, 40, 218);*/
    color: #FFD0E8;
    font-weight: bold;
    /* Aggiunto per rendere l'elemento bold al passaggio del mouse */
}

nav ul {
    list-style-type: none;
    /* Rimuove i punti degli elenchi */
    padding: 0;
    /* Rimuove il padding predefinito */
    margin: 0;
    /* Rimuove il margine predefinito */
    display: flex;
    /* Fa sì che gli elementi li si allineino orizzontalmente */
    justify-content: center;
    /* Centra gli elementi orizzontalmente */
}

nav li {
    margin: 0 10px;
    /* Aggiunge un po' di margine tra gli elementi del menu */
}

nav ul li.special a {
    width: 20%;
    color: #FFD0E8;
    /* Cambia il colore del testo a rosso */
    font-size: 15px;
    animation: sparkle 1s infinite alternate;
}


body {
    font-family: Arial, sans-serif;
    background-color: #a2d4cb;

}

.container {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #4DA69A;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: rgb(13, 29, 70);
    font-size: 1.5em;
    /* Aggiunto per adattarsi al nuovo HTML */
}

p {
    color: rgb(13, 29, 70);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(13, 29, 70);
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #a2d4cb;
    align-items: center;
}

#button {
    background-color: rgb(13, 29, 70);
    color: #4DA69A;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    /* Aggiunto per adattarsi al nuovo HTML */
}

#button:hover {
    background-color: #FFD0E8;
    color: rgb(13, 29, 70);
}

#thanksContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4DA69A;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: rgb(13, 29, 70);
}

#thanksContainer h2 {
    font-size: 1.5em;
    margin: 0;
}

#thanksContainer p {
    margin-top: 10px;
}

#thanksContainer a {
    color: #FFD0E8;
    text-decoration: underline;
}

#thanksContainer a:hover {
    color: #4DA69A;
}




.social-strip {
    background-color: rgb(13, 29, 70);
    padding: 20px 0;
    text-align: center;
    /* Centra le icone orizzontalmente */
}

.social-strip a {
    margin: 0 10px;
    /* Aggiunge un po' di spazio tra le icone */
    display: inline-block;
    /* Rende le icone allineate orizzontalmente */
}

.social-strip img {
    width: 50px;
    /* O qualsiasi altra dimensione desideri per le icone */
    height: auto;
    transition: 0.3s;
    /* Effetto di transizione per l'hover */
}

.social-strip img:hover {
    opacity: 0.7;
    /* Rende le icone leggermente trasparenti quando si passa il mouse sopra */
}

.mail {
    background-color: rgb(13, 29, 70);
    padding: 20px 0;
    text-align: center;
    /* Centra le icone orizzontalmente */
    margin-top: 0px;
    color: #FFD0E8;
}

/* Aggiungi questa sezione alla fine del tuo file CSS */


@media only screen and (max-width: 767px) {
    header {
        height: auto;
    }

    .main_title {
        margin-top: 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* Aggiunto per riempire completamente la larghezza su dispositivi mobili */
    }

    nav li {
        margin: 3px 0;
    }

    .social-strip {
        padding: 10px 0;
        /* Ridotto il padding per una migliore presentazione su dispositivi mobili */
    }

    .mail {
        padding: 10px 0;
        /* Ridotto il padding per una migliore presentazione su dispositivi mobili */
    }
}