body {
    font-family: Arial, sans-serif;
    margin: 0;
}

testo-sopra {
    position: absolute;
    top: 20px;
    /* Puoi regolare questa proprietà per spostare il testo sopra l'immagine */
    left: 20px;
    /* Puoi regolare questa proprietà per spostare il testo sopra l'immagine */
    color: white;
    /* Colore del testo */
    background-color: rgba(0, 0, 0, 0.5);
    /* Colore di sfondo del testo con trasparenza */
    padding: 10px;
    /* Spazio interno al testo */
}


.bounceable {
    cursor: pointer;
    transition: transform 0.2s;
}

.bounceable:hover {
    transform: scale(1.1);
}

.bounceable.bouncing {
    animation: bounce 0.5s ease infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

header {
    background-color: rgb(13, 29, 70);
    display: flex;
    flex-direction: column;
    /* Per allineare i figli verticalmente */
    align-items: center;
    /* Per centrarli orizzontalmente */
    justify-content: center;
    /* Opzionale, per centrarli verticalmente se necessario */
}

.main_title {
    display: flex;
    flex-direction: column;
    /* allinea i figli (il logo e l'h1) verticalmente */
    align-items: center;
    /* centra i figli orizzontalmente */
}


header h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: #FFD0E8;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo,
header h1 {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* Navigation Style */
nav {
    display: flex;
    justify-content: center;
    /* Centra gli elementi orizzontalmente */
    width: 100%;
    color: #FFD0E8;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav a {
    color: #FFD0E8;
    padding-bottom: 5px;
    text-decoration: none;
    padding: 0 15px;
    /* Aggiunto un po' di padding per separare gli elementi del menu */
}

nav a:hover {
    /*  color: rgb(242, 40, 218);*/
    color: #FFD0E8;
    font-weight: bold;
    /* Aggiunto per rendere l'elemento bold al passaggio del mouse */
}

nav ul {
    list-style-type: none;
    /* Rimuove i punti degli elenchi */
    padding: 0;
    /* Rimuove il padding predefinito */
    margin: 0;
    /* Rimuove il margine predefinito */
    display: flex;
    /* Fa sì che gli elementi li si allineino orizzontalmente */
    justify-content: center;
    /* Centra gli elementi orizzontalmente */
}

nav li {
    margin: 0 10px;
    /* Aggiunge un po' di margine tra gli elementi del menu */
}

nav ul li.special a {
    width: 20%;
    color: #FFD0E8;
    /* Cambia il colore del testo a rosso */
    font-size: 15px;
    animation: sparkle 1s infinite alternate;
}


.sottotitolo-personalizzato {
    font-weight: normal;
    color: black;
    display: flex;
    justify-content: space-between;
}

.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    min-height: 100px;
    position: relative;
    /* Altezza fissa per le strisce */
}


.article:nth-child(even) {
    background-color: #DEDEDE;
    /* Grigio chiaro */

}


.article:nth-child(odd) {
    background-color: #4DA69A;
    /* Verde più tenue */

}


.article:nth-child(odd) .article-content img {
    float: right;
    /* Immagine a destra */
    margin: 0 0 10px 20px;
    /* Aggiunge margine solo nella parte inferiore e a destra */
}

.article:nth-child(even) .article-content img {
    float: left;
    /* Immagine a sinistra */
    margin: 0 20px 10px 0;
    /* Aggiunge margine solo nella parte inferiore e a sinistra */
}

.article2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-height: 50px;
    background-color: #4DA69A;
}

.article img {
    max-width: 400px;
    /* Altezza massima delle immagini */
    height: auto;
    /* Larghezza automatica per mantenere le proporzioni */
    margin-right: 20px;
    /* Aggiunge margine alla destra dell'immagine */
}

.article-content {
    text-align: justify;
    flex: 1;
    /* Il testo occupa lo spazio rimanente */
    margin-left: 20px;
    margin-right: 20px;
}


h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.3em;
}







.social-strip {
    background-color: rgb(13, 29, 70);
    padding: 20px 0;
    text-align: center;
    /* Centra le icone orizzontalmente */
}

.social-strip a {
    margin: 0 10px;
    /* Aggiunge un po' di spazio tra le icone */
    display: inline-block;
    /* Rende le icone allineate orizzontalmente */
}

.social-strip img {
    width: 50px;
    /* O qualsiasi altra dimensione desideri per le icone */
    height: auto;
    transition: 0.3s;
    /* Effetto di transizione per l'hover */
}

.social-strip img:hover {
    opacity: 0.7;
    /* Rende le icone leggermente trasparenti quando si passa il mouse sopra */
}

.mail {
    background-color: rgb(13, 29, 70);
    padding: 20px 0;
    text-align: center;
    /* Centra le icone orizzontalmente */
    margin-top: 0px;
    color: #FFD0E8;
}